Checks: '-*,
        performance-*,
        ccpcoreguidelines-*,
        modernize-*,
        readability-*,
        bugprone-argument-comment,
        bugprone-assert-side-effect,
        bugprone-integer-division,
        bugprone-undelegated-constructor,
        hicpp-exception-baseclass,
        hicpp-signed-bitwise,
        misc-new-delete-overloads,
        misc-static-assert
        '

CheckOptions:
    # Identifiers
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
    ## Variables and Alias
    ### Alias
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: aNy_CasE
    ### Global
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPointerCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalPointerCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalVariableCase
    value: CamelCase
    ### Local
  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key: readability-identifier-naming.LocalConstantPointerCase
    value: lower_case
  - key: readability-identifier-naming.LocalPointerCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
    ### Other
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticCase
    value: CamelCase
    ## Macro
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
    ## Parameters
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPackCase
    value: lower_case
  - key: readability-identifier-naming.PointerParameterCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: camelBack
    ## Class, Struct and Enum
    ### Name
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  # - key: readability-identifier-naming.AbstractClassPrefix
  #   value: I
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: aNy_CasE
  - key: readability-identifier-naming.UnionCase
    value: CamelCase

    ### Members
  - key: readability-identifier-naming.ClassConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ClassConstantSuffix
    value: _
  - key: readability-identifier-naming.MemberCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case

    ### Methods
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.VirtualMethodCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMethodCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMethodSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMethodCase
    value: lower_case
  - key: readability-identifier-naming.PublicMethodCase
    value: lower_case

    ### Enum
  - key: readability-identifier-naming.Enum
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: CamelCase

    ## Function
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalFunctionCase
    value: lower_case

    ## Template
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase

   # Variable Length
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: 2
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: ^[ijk_]$;
